version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    ignore:
      - dependency-name: "@types/jquery"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
      - dependency-name: "@types/showdown"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
      - dependency-name: "@types/simple-peer"
        update-types: ["version-update:semver-major", "version-update:semver-minor"]
      - dependency-name: "@pixi/graphics-smooth"
      - dependency-name: "@pixi/particle-emitter"
      - dependency-name: "handlebars"
      - dependency-name: "pixi.js"
      - dependency-name: "prosemirror-collab"
      - dependency-name: "prosemirror-inputrules"
      - dependency-name: "prosemirror-model"
      - dependency-name: "prosemirror-state"
      - dependency-name: "prosemirror-transform"
      - dependency-name: "prosemirror-view"
      - dependency-name: "socket.io-client"
      - dependency-name: "tinymce"
