---
name: Checks

on: # yamllint disable-line rule:truthy
  push:
    branches:
      - main
  pull_request_target:
    types:
      - opened
      - synchronize
  merge_group:

env:
  node_version: 24

jobs:
  typecheck:
    # Can run untrusted code so disable all permissions.
    permissions: {}
    name: Type Check Code Base
    runs-on: ubuntu-latest
    steps:
      # This pattern is reused a couple of times.
      # It's so verbose because of `pull_request_target`.
      # For security reasons by deafult it won't check out the branch the PR is coming from.
      - name: Checkout Branch
        uses: actions/checkout@v5
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 1

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.node_version }}

      - name: Cache Node.js modules
        uses: actions/cache@v4
        with:
          path: .npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-

      - run: npm ci --cache .npm --prefer-offline

      - name: Type Check
        run: npm run typecheck

      - name: Type Check (exactOptionalPropertyTypes = false)
        run: npx tsc --exactOptionalPropertyTypes false

      - name: Type Check (TS Go)
        run: npx tsgo

  lint:
    # Can run untrusted code so disable all permissions.
    permissions: {}
    name: Lint Code Base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Branch
        uses: actions/checkout@v5
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 1

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.node_version }}

      - name: Cache Node.js modules
        uses: actions/cache@v4
        with:
          path: .npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-

      - run: npm ci --cache .npm --prefer-offline

      - name: Run Lints
        run: npm run lint

  test:
    # Can run untrusted code so disable all permissions.
    permissions: {}
    name: Test Code Base
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout Branch
        uses: actions/checkout@v5
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 1

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.node_version }}

      - name: Cache Node.js modules
        uses: actions/cache@v4
        with:
          path: .npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-

      - run: npm ci --cache .npm --prefer-offline

      - name: Execute Tests
        run: npm test -- --reporter default --reporter github-actions

  publishPrerelease:
    name: Publish prerelease
    if: (github.event_name == 'push' || github.event_name == 'merge_group') && github.ref == 'refs/heads/main'
    needs:
      - typecheck
      - lint
      - test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ env.node_version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.node_version }}
          registry-url: "https://registry.npmjs.org"
      - name: Cache Node.js modules
        uses: actions/cache@v4
        with:
          path: .npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-
      - run: npm ci --cache .npm --prefer-offline
      - name: Set version
        run: |-
          echo "VERSION=$(npm pkg get version | tr -d '"')-beta.$(date +%Y%m%d%H%M%S)" >>"$GITHUB_ENV"
      - name: Publish @league-of-foundry-developers/foundry-vtt-types
        run: |-
          npm version --git-tag-version false "$VERSION"
          npm publish --ignore-scripts --tag prerelease
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      - name: Publish fvtt-types
        run: |-
          jq '.name = "fvtt-types"' package.json > temp.json && mv temp.json package.json
          npm version --allow-same-version --git-tag-version false "$VERSION"
          npm publish --ignore-scripts --tag prerelease
        env:
          NODE_AUTH_TOKEN: ${{ secrets.FVTT_NPM_TOKEN }}
