name: Compile against TypeScript nightly
on:
  schedule:
    - cron: 0 0 * * *

  workflow_dispatch:

env:
  node_version: 24

jobs:
  verify-next:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ env.node_version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ env.node_version }}
      - name: Cache Node.js modules
        uses: actions/cache@v5
        with:
          path: .npm
          key: ${{ runner.OS }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.OS }}-node-
            ${{ runner.OS }}-
      - run: npm ci --cache .npm --prefer-offline
      - run: |
          # This has been seen going in an infinite loop without `--legacy-peer-deps`.
          npm add --legacy-peer-deps --force -D typescript@next @typescript/native-preview
          npx tsc --version

      # Parentheses due to https://github.com/github/vscode-github-actions/issues/60
      - if: (!cancelled())
        run: npm run lint

      - name: Type Check (exactOptionalPropertyTypes = false)
        if: (!cancelled())
        run: npx tsc --exactOptionalPropertyTypes false

      - name: Type Check (TS Go)
        if: (!cancelled())
        run: npx tsgo

      - name: Type Check (TS Go, exactOptionalPropertyTypes = false)
        if: (!cancelled())
        run: npx tsgo --exactOptionalPropertyTypes false

      - if: (!cancelled())
        run: npm run test-types
